[req]
distinguished_name = dn
req_extensions = v3_req
prompt = no

[dn]
CN = TexaPay
O = Texa Global Technologies LTD
OU = TexaPay
C = NG

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
